<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	
	<style type="text/css">
		body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Calibri"; font-size:10px }
		a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black;  } 
		a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  } 
		comment { display:none;  } 
	</style>
	
</head>

<body>
<table cellspacing="0" border="0">
	<colgroup width="45"></colgroup>
	<colgroup width="153"></colgroup>
	<colgroup width="21"></colgroup>
	<colgroup width="161"></colgroup>
	<colgroup width="37"></colgroup>
	<colgroup width="69"></colgroup>
	<colgroup width="154"></colgroup>
	<colgroup width="161"></colgroup>
	<colgroup width="25"></colgroup>
	<colgroup width="143"></colgroup>
	<colgroup width="159"></colgroup>
	<tr>
    <td height="13" align="left" valign=middle><font color="#000000"><br></font></td>
		<td height="110" align="left" valign=middle><font color="#000000"><br><img src="http://202.145.0.38/fajar/logo-doc.png" width=120 height=119 hspace=22 vspace=8>
		</font></td>
		<td colspan=4 align="left" valign=middle><font color="#000000">SCBD, Treasury Tower, 5th Floor, District 8, <br>Jl. Jenderal Sudirman No.52-53, RT.5/RW.3, <br>Senayan, South Jakarta<br>12190</font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="13" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000">Date</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=4 valign=middle><font color="#000000">{{data_so.so_date}}<br></font></td>
		<td align="left" valign=middle><font color="#000000">Sales Manager</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=2 valign=middle><font color="#000000">{{data_sales.sales_name}}<br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000">Sales Order ID</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=4 valign=middle><font color="#000000">{{data_so.so_number}}<br></font></td>
		<td align="left" valign=middle><font color="#000000">Email Address</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=2 valign=middle><font color="#000000">{{data_sales.sales_email}}<br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000">OPP ID</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=4 valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000">Related SO</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=2 valign=middle><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" bgcolor="#C00000" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#FFFFFF">CUSTOMER</font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#FFFFFF"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#000000"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#000000"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#000000"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#000000"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#000000"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#000000"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#000000"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000">Customer Name</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=8 valign=middle><font color="#000000">{{data_customer.company_name}}<br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000">Attention</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=8 valign=middle><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left"valign=middle><font color="#000000">Email Address</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=8 valign=middle><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000">Phone No.</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=8 valign=middle><font color="#000000">{{data_customer.company_phone}}<br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000">Address</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=8 valign=middle><font color="#000000">{{data_customer.company_address}}<br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle bgcolor="#C00000"><font color="#000000"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#FFFFFF">TERMS &amp; PRICING </font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#FFFFFF"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#FFFFFF"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#FFFFFF"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#FFFFFF"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#FFFFFF"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#FFFFFF"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#FFFFFF"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#FFFFFF"><br></font></td>
		<td align="left" valign=middle bgcolor="#C00000"><font color="#FFFFFF"><br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000">Contract Term</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" valign=middle><font color="#000000">{{data_so.contract_term}} Months<br></font></td>
		<td colspan=2 align="center" valign=middle><font color="#000000"></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000">Service Request Date</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=2 valign=middle><font color="#000000">{{data_request.createdAt}}<br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000">Service Type</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" colspan=4 valign=middle><font color="#000000">{{data_request.req_type}}<br></font></td>
		<td align="left" valign=middle><font color="#000000">Commencement Date</font></td>
		<td align="left" valign=middle><font color="#000000">:</font></td>
		<td align="left" valign=middle><font color="#000000">{{data_so.commencement_date}}<br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
		<td align="left" valign=middle><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td valign="middle" height="23" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" colspan="3" align="left"><b><font color="#000000">A. Additional Accessories</font></b></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td valign="middle" height="69" align="left"><font color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" colspan="2" valign="middle" bgcolor="#D9D9D9" align="center"><b><font color="#000000">Item </font></b></td>
		<td style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" bgcolor="#D9D9D9" align="center"><b><font color="#000000">Item Description</font></b></td>
		<td style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" valign="middle" bgcolor="#D9D9D9" align="center"><b><font color="#000000">Qty</font></b></td>
		<td style="border-top: 2px solid #000000; border-left: 1px solid #000000;" valign="middle" bgcolor="#D9D9D9" align="center"><b><font color="#000000">Unit Price Non <br>Recuring Charge (NRC)</font></b></td>
		<td style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" bgcolor="#D9D9D9" align="center"><b><font color="#000000">Unit Price Monthly <br>Recurring Charges (MRC) </font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 0px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" valign="middle" bgcolor="#D9D9D9" align="center"><b><font color="#000000">Sub Total NRC</font></b></td>
		<td style="border-top: 2px solid #000000; border-right: 2px solid #000000" valign="middle" bgcolor="#D9D9D9" align="center"><b><font color="#000000">Sub Total MRC</font></b></td>
	</tr>
	<tr>
		<td valign="middle" height="97" align="left"><font color="#000000"><br></font></td>

		<td style="border-top: 2px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000;text-align:left;" colspan="2" valign="middle"><font color="#000000">
			Additional Accessories - {{data_request.dc_location}}
		<br></font>
		</td>

		<td style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" align="left"><font color="#000000">
			{{#each data_request_item}}
                <p>Name: {{this.name}}</p>
                <p>Qty: {{this.qty}}</p>
                <p>Sub Total: {{this.subtotal}}</p>
			{{/each}}
			<br></font>
		</td>
		<td colspan=2 style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="middle" align="center"><font color="#000000">
			1
			<br></font>
		</td>
		<td style="border-top: 2px solid #000000; border-left: 1px solid #000000;" sdnum="1033;0;_(&quot;IDR&quot;* #,##0_);_(&quot;IDR&quot;* \(#,##0\);_(&quot;IDR&quot;* &quot;-&quot;_);_(@_)" valign="middle" align="center"><font color="#000000">
			{{#ifCond data_so.contract_term "==" 'onetime'}}
				{{data_so.so_unit_price}}
			{{/ifCond}}
			<br></font>
		</td>
		<td style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" sdnum="1033;0;_(&quot;IDR&quot;* #,##0_);_(&quot;IDR&quot;* \(#,##0\);_(&quot;IDR&quot;* &quot;-&quot;_);_(@_)" valign="middle" align="center"><font color="#000000">
			{{#ifCond data_so.contract_term "==" 'monthly'}}
				{{data_so.so_unit_price}}
			{{/ifCond}}
			<br></font>
		</td>
		<td style="border-top: 2px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" sdnum="1033;0;_(&quot;IDR&quot;* #,##0_);_(&quot;IDR&quot;* \(#,##0\);_(&quot;IDR&quot;* &quot;-&quot;_);_(@_)" valign="middle" align="center"><font color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000; border-right: 2px solid #000000" sdnum="1033;0;_(&quot;IDR&quot;* #,##0_);_(&quot;IDR&quot;* \(#,##0\);_(&quot;IDR&quot;* &quot;-&quot;_);_(@_)" valign="middle" align="center"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td valign="middle" height="23" align="left"><font color="#000000"><br></font></td>
		<td style="border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan="7" valign="middle" align="center"><b><font color="#000000">Sub Total (Exclude VAT)</font></b></td>
		<td style="border-bottom: 2px solid #000000;" colspan="2" valign="middle" bgcolor="#E7E6E6" align="center"><font color="#000000">-</font></td>
		<td style="border-bottom: 2px solid #000000; border-left: 1px solid #000000; border-right: 2px solid #000000" valign="middle" bgcolor="#E7E6E6" align="left"><font color="#000000">-</font></td>
	</tr>
	<tr>
		<td valign="middle" height="21" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
		<td valign="middle" align="left"><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td valign="middle" height="23" align="left"><font color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000; border-left: 2px solid #000000" colspan="7" valign="middle" align="center"><b><font color="#000000">Discount (Exlude VAT) </font></b></td>
		<td style="border-top: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan="3" valign="middle" bgcolor="#D9D9D9" align="center"><b><font color="#000000"><br></font></b></td>
	</tr>
	<tr>
		<td valign="middle" height="28" align="left"><font color="#000000"><br></font></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000" colspan="7" valign="middle" align="center"><b><font color="#000000">Total Contract Value (Exclude VAT)</font></b></td>
		<td style="border-top: 2px solid #000000; border-bottom: 2px solid #000000; border-left: 2px solid #000000; border-right: 2px solid #000000" colspan="3" valign="middle" bgcolor="#D9D9D9" align="center"><font color="#000000">-</font></td>
	</tr>
</table>
<!-- ************************************************************************** -->
</body>

</html>
